{% extends "base_generic.html" %}
{% load static %}

{% block body %}
{% include 'google_maps_api.html' %}

  <link rel="stylesheet" href="{% static "CSS/general_style.css"%}">

  <body class="text-center">
    <form class="form-signin" method ="post" id="account-form">
  <h1 class="h3 mb-3 font-weight-normal">Account</h1>
        <div class="pricing-header mx-auto text-center">
          <p class="lead">Edit your account details here </p>
        </div>
 {% csrf_token %}

  <input type="username" name="username" id="inputUsername" value="{{account_form.initial.username}}" class="form-control" placeholder="Username" required autofocus>
        <br>
  <input type="email" name="email" id="inputEmail"  value="{{account_form.initial.email}}" class="form-control"  placeholder="Email" required>
    <br>
        <input type="address" name="address" id="address" value="{{account_form.initial.address}}" class="form-control"  placeholder="Address" required>
        <input type="hidden" id="latitude" name="latitude" class="form-control" value="{{account_form.initial.latitude}}"/>
    <input type="hidden" id="longitude" name="longitude" class="form-control" value="{{account_form.initial.longitude}}"/>
      {% for field in account_form %}
        {% if field.help_text %}
            <small style = "color: grey;"> {{field.help_text}}</small>
          {% endif %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
  {% if account_form.non_field_errors %}
    <div style="color: red">
      <p>{{account_form.non_field_errors}}</p>
    </div>
  {% endif %}
        <br>
{% if messages %}
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}

{% endif %}
  <button class="btn btn-lg btn-primary btn-block" type="button" id="save-changes">Save Changes</button>

</form>
    {% include 'autocomplete_script.html' with name_of_page="account" initial_form=account_form full_name_of_page="account_form" %}
</body>

{% endblock body %}

