<script>

    {
        {
            register
        }
    }
    var addressChanged = false;

    function initMap() {

        const input = document.getElementById("address");
        const form = document.getElementById("register-form");
        const latitude = document.getElementById("latitude");
        const longitude = document.getElementById("longitude");
        const autocomplete = new google.maps.places.Autocomplete(input);
        const button = document.getElementById("save-changes");
        // Set the data fields to return when the user selects a place.
        //autocomplete.set("address","{{register.initial.address}}");
        autocomplete.setFields(["address_components", "geometry"]);

        input.addEventListener("change", (changeEvenet) => {
            addressChanged = true;
        });

        button.addEventListener("click", (clickEvent) => {
            let place = autocomplete.getPlace();
            const hasLegitAddress = !!"{{register.initial.address}}";
            if (typeof place == 'undefined') {
                place = null; // simulates place??=null; since old browsers don't have ??
            }
            var geo = null;
            if (place != null) {
                geo = place.geometry
            }

            if (addressChanged && !geo) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("Please choose address from suggested addresses");
                event.preventDefault();
                return;
            }
            latitude.value = {
            {
                registration_form.latitude.value |
            default:
                0
            }
        }
            ;
            longitude.value = {
            {
                registration_form.longitude.value |
            default:
                0
            }
        }
            ;
            if (place != null && typeof place != 'undefined') {
                latitude.value = place.geometry.location.lat()
                longitude.value = place.geometry.location.lng()
            }

            form.submit();

        });
    }

</script>

