<!DOCTYPE html>

{% extends "base_generic.html" %}
{% load static %}
{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <body class="text-center">
  <link rel="stylesheet" href="{% static "CSS/general_style.css"%}">
<h1 class="h3 mb-3 font-weight-normal">Forgot password ?</h1>
   <div class="pricing-header mx-auto text-center">
          <p class="lead">Enter your E-mail address below</p>
        </div>
  <form method="post" class="form-signin">
    {% csrf_token %}
    <input type="email" name="email" id="id_email"   class="form-control"  placeholder="Email" required>
 {% for field in registration_form %}
      <!--- deleted helper fields ---->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
       {% endfor %}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
  </body>
</div>
{% endblock %}
