
{% extends "base_generic.html" %}
{% load static %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <body class="text-center">
  <link rel="stylesheet" href="{% static "CSS/general_style.css"%}">
<p>
    We've emailed you instructions for resetting your password.<br>
    if an account exists with the email you entered, You will receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}
