{% extends "base_generic.html" %}
{% load static %}

{% block body %}

  <body class="text-center">
  <link rel="stylesheet" href="{% static "CSS/general_style.css"%}">
    <form class="form-signin" method ="post">
  <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
    <br>
 {% csrf_token %}

  <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Password" required>
      {% for field in login_form %}
        {% if field.help_text %}
            <small style = "color: grey;"> {{field.help_text}}</small>
          {% endif %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>

  {% endif %}
        <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

</form>
</body>

{% endblock body %}
