{% extends "base_generic.html" %}
{% load static %}

{% block body %}
 <link rel="stylesheet" href="{% static "CSS/general_style.css"%}">

{% include 'google_maps_api.html' %}


 <body class="text-center">
    <form class="form-signin" method ="post">
  <h1 class="h3 mb-3 font-weight-normal">Account</h1>
        <div class="pricing-header mx-auto text-center">
          <p class="lead">Register an account</p>
        </div>
    {% csrf_token %}
   <input type="username" name="username" id="inputUsername"  class="form-control" value = "{{registration_form.username.value }}" placeholder="Username" required autofocus>
        <br>
  <input type="email" name="email" id="inputEmail"   class="form-control"  value = "{{registration_form.email.value }}" placeholder="Email" required>
    <br>
      <input type="address" name="address" id="address"  class="form-control" value = "{{registration_form.address.value }}" placeholder="Address" required>
    <br>
<input type="password" name="password1" id="inputPassword1"  class="form-control"  placeholder="Password" required>
          <br>
<input type="password" name="password2" id="inputPassword2"  class="form-control"  placeholder="Confirm Password" required>
      <input type="hidden" id="latitude" name="latitude" class="form-control" value='0.0'/>
    <input type="hidden" id="longitude" name="longitude" class="form-control" value='0.0'/>
      {% for field in registration_form %}
      <!--- deleted helper fields ---->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
       {% endfor %}

<br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="save-changes">Register</button>
        {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{registration_form.non_field_errors}}</p>
    </div>
      {% endif %}
        {% include 'autocomplete_script.html' %}
</form>

{% endblock body %}

