{% extends "base_generic.html" %}
{% load static %}

{% block body %}

{% if img == None %}
<img src={% static 'unnamed.png' %}
class="img-fluid shadow-sm p-2 mb-10 bg-white rounded"
style="max-width:400px;width:50%; display: block;
  margin-left: auto;
  margin-right: auto;">
{% else %}
<img src={{img}}
class="img-fluid shadow-sm p-2 mb-10 bg-white rounded"
style="max-width:400px;width:50%; display: block;
  margin-left: auto;
  margin-right: auto;">
{% endif %}


 <div class="pricing-header mx-auto text-center">
          <p dir=rtl class="lead">{{dish_name}}, {{price}}₪
          <br> {{description}} <br> </p>
        </div>
 <div class="pricing-header mx-auto text-center" style="font-weight: bold;">
          <p>{{restaurant}} </p>

     <br>
     <a href="{% url 'shuffle' combined_string=combined_string %}" class="btn  btn-danger" >NEVER AGAIN</a>
<a href="{% url 'shuffle' 'base' %}" class="btn btn-info btn-primary">RESHUFFLE</a>
<a href={{restaurant_url}} class="btn  btn-primary"  target="_blank" rel="noopener noreferrer">ORDER</a>


        </div>

{% endblock body %}
